# Eclipse stuff
/.classpath
/.project
/.settings

# netbeans
/nbproject

# we use maven!
/build.xml

# maven
/target

# vim
.*.sw[a-p]

# various other potential build files
/build
/bin
/dist
/manifest.mf

/world

# Mac filesystem dust
.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/

/src/main/resources/achievement
/src/main/resources/lang
dependency-reduced-pom.xml
bukkit.yml
.update-lock
banned-ips.json
banned-players.json
clip.yml
commands.yml
help.yml
/logs
ops.json
permissions.yml
server.properties
spigot.yml
usercache.json
whitelist.json